#uname{
	display: block;
}

#pswd, #pswd-forget{
	display: block;
}

#btn-login{
	display: block;
}

body{
	margin:0% 0% 0% 0%;
	padding:0;
	font-family:'Open Sans', sans-serif;
	line-height:30px;
	background-color: #a5c8c6;
}

h1{
	margin-top:5%;
	text-align:center;
	font-size:30px;
	vertical-align:middle;
}


.login-container{
	position: relative;
	z-index: 1;
	background: rgb(165, 159, 159);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.login-container input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
  }

.login-container button {
	text-transform: uppercase;
	background: rgb(106, 209, 159);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	cursor: pointer;
  }



.registration-container{
	position: relative;
	z-index: 1;
	background: rgb(165, 159, 159);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.registration-container input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
  }

.registration-container button {
	text-transform: uppercase;
	background: rgb(106, 209, 159);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	cursor: pointer;
  }

.wrapper{
	width: 75%;
	padding: 2% 0 2%;
	margin: auto;
	background-color: #e4eded;
	text-align: center;
	border-radius:20px;
}

/*
######Patients page table######
*/

.patients-page .wrapper{
	background-color: #a5c8c6;
}

#patients-table{
	padding: 2% 0 0;
	margin:auto;
	border-collapse: seperate;
	border-spacing: 4px;
}

#patients-table thead{
	background: #dee0e3;
	color: #54a19e;
	font-size:34px;
}

#patients-table th{
	font-weight:200;
}

#patients-table tbody{
	background: #a8aaad;
	font-size:24px;
	color: #e1ebeb;
}

#patients-table th,#patients-table td{
	padding-left:25px;
	padding-right:25px;
	padding-top:10px;
	padding-bottom:10px;

}

tbody tr:hover{
	background: #a8afad;
}
/*
------Patients page table end-------

######Patients & testing navigation######
*/

.log-out{
	position:absolute;
	right:10px;
}

.change-view{
	position:absolute;
	right:140px;
}

nav a{
	position:relative;
	text-decoration: none;
	font-size:30px;
	color:#e1ebeb;
	padding-left:20px;
	padding-right:20px;
}

.Logged-in{
	text-align:right;
}
.username{
	font-weight:bold;
	color:#0f544c;
}
/*
------Patients & testing navigation end ------
*/

/*
#############
#   MODAL   #
#############
*/

/*
##### general modal#####
*/
.modal-exit{
	float:right;
	border-radius:50%;
}

.modal-content{
	padding:2%;
	color:#e1ebeb;
}

.tab{
    display: none;
}
.tab.active{
    display: block;
}

.tab.show{
	display:inline;
}

/*
----- general modal ----
*/



/*
####patients page modal####
*/


#modal{
	position: fixed;
	z-index: 1;
	overflow: auto;
	background-color: #78b3b3;
	top:25%;
	left:25%;
	width:50%;
	height:70%;
	border-radius:20px;
	opacity:0.9;
}

.modal-content h3{
	margin: 0em;
}

#modal-name{
	text-align:center;
}

#modal-ID,#modal-Age,#modal-Phone,#modal-Email,#Additional-information{
	color:black;
	background:#b7f7c8;
}

#Additional-information{
	display: block;
	height:20%;
	width:96%;
	border:1px solid black;
	position: absolute;
}
/*
-------patients page modal  end------
*/

/*
#####Testing page modal#####
*/
.modal-info{
	margin:auto;
	z-index: 1;
	overflow: auto;
	background-color: #78b3b3;
	width:25%;
	height:20%;
	border-radius:5px;
	opacity:0.9;
}
.modal-info p{
	line-height:100%;
}

/*
-----Testing page modal end----
*/



.wrapper h2{
	font-size:35px;
	font-weight:200;
}

#testing-test-button{
	margin-top:2%;
}



/*
---- testing results -----
*/
#testing-results {
	display: none;
}

#testing-results-table th, #testing-table td{
	border: 5px solid #c6cfcf;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
}

#testing-results-table{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-collapse:collapse;
}

#testing-results-table thead{
	background:#8d9191;
}
#testing-results-table tbody{
	background:#fafafa;
}

#testing-results-table th{
	font-size:26px;
	font-weight:200;
	color:#fafafa;
}

#testing-results-table td{
	font-size:18px;
}

.testing-results-label{
	font-size: 30px;
}

#resulttable th{
	font-size:18px;
	font-weight:200;
	color:#000000;
}

/*
---testing page id and cancer type -----
*/
#testing-form-insert input{
	margin-top:2%;
}

#ID-question{
	margin-right:2%;
}

#testing-form-insert span{
	margin:2%;
	font-size:25px;
	color:#113747;
	text-shadow: 1px 1px #213747;
}

/*#######testing page checkbox form#########*/

.checkbox-form{
	margin:auto;
	width:80%;
	margin-top:2%;
	font-size:14px;
}

.test-symptom{
	text-align: left;
}

.test-test{
	text-align: left;
}

.column {
  width: 50%;
  margin-bottom:4%;
}


.checkbox-form:after{
  content: "";
  display: table;
  clear: both;
}



.mandatory-fields{
	clear: both;
	line-height:1%;
}

.mandatory-fields p{
	font-size:13px;
	color:#737373;
}
.mandatory-fields input{
	width:50px;
	text-align:center;
	margin-right:4%;
}
/*--------testing page checkbox form-----------*/



/*
################
#   Oncologist #
################
*/

/*##########Oncologist Patients############*/

.Oncology-content{
	display:block;
	margin-top:2%;
}

.Oncology-content label, .Oncology-content input, .Oncology-content select{
	margin-bottom: 10px;
}

.Oncology-content button{
	font-size: 15px;
	padding: 6px 8px;
	background-color: #ff000077;
}

/*####filter#####*/
.filter{
	display:block;
	margin:auto;
	width: max-content;
	height:100px;
	background-color: #e4eded;
	font-size:13px;
	line-height:20px;
}

.filter-column {
  float: left;
  width: auto;
  height:100%;
	margin-right: 60px;
  text-align:center;
}
.filter-column input,.filter-column select{
	font-size:13px;
}
.filter-column button{
	padding:0px;
}

#filter-cancer-type,#cancer-type-filter{
	padding:0px;
	margin-top:30px;
}

.filter-column input[type="number"]{
	width:50%;
}

.filter:after{
  content: "";
  display: table;
  clear: both;
}


/*-----filter------*/

.search{
	margin:1% 0% 1%;
	display:block;
	text-align:center;
}
.search input{
	display:inline block;
	margin:auto;
	border:1px solid black;
}

.search span{
	font-size:13px;
}

/*#####Oncology patients table#####*/
.Oncology-patients-table{
	display:block;
	margin:auto;
	margin-top:10px;
	width:90%;
	height:10px;
}

.Oncology-patients-table table{
	width:100%;
	background:#fcfcfc;
	table-layout: fixed;
	border-collapse: collapse;
	text-align:center;
}
.Oncology-patients-table thead{
	background:#bfbfbf;
}
.Oncology-patients-table th{
	border-right:1px solid #e3e3e3;
}

/*column widths*/
.Oncology-patients-table th:nth-child(1){
	width:16%;
}
.Oncology-patients-table th:nth-child(2){
	width:16%;
}
.Oncology-patients-table th:nth-child(3){
	width:5%;
}
.Oncology-patients-table th:nth-child(4){
	width:6%;
}
.Oncology-patients-table th:nth-child(5){
	width:9%;
}
.Oncology-patients-table th:nth-child(6){
	width:15%;
}
.Oncology-patients-table th:nth-child(7){
	width:17%;
}
.Oncology-patients-table th:nth-child(8){
	border:none;
}


/*column widths*/

.Oncology-patients-table td{
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
}

/*------Oncology patients table-----*/

/*##########MODAL###########*/

.Oncology-patient-modal{
	position: fixed;
	z-index: 1;
	overflow: auto;
	background-color: #d6d6d6;
	top:20%;
	left:25%;
	width:50%;
	height:70%;
	border-radius:20px;
	opacity:0.99;
	line-height:10px;
}

.exit-button{
  background-color: #93c4ab; /* Green */
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 13px;
  border-radius:15px;
  margin:1%;
}

.clickable:hover{
	cursor:pointer;
}

.name-back{
	display:block;
	height:70px;
}
.Oncology-patient-modal h1{
	display:inline block;
	margin:-10px;
	font-size:25px;
	width:90%;
	margin:auto;
}

.Oncology-patient-modal h2{
	font-size:17px;
	margin:0px;
	line-height:20px;
}
.Oncology-patient-modal p{
	margin: -3px 10px;
	float:right;
}

.Oncology-patient-modal p:hover{
	cursor:pointer;
	text-decoration:underline;
}

.Oncology-info:after{
  content: "";
  display: table;
  clear: both;
}

.Oncology-patient-modal .column{
	text-align:center;
}

.space60px{
	height:60px;
}

.Oncology_accept_or_reject{
	position:fixed;
	top:85%;
	left:43%;
}

.Oncology_patient_pathway{
	position:fixed;
	top:85%;
	left:33%;
}

.accept_reject,.Oncology_pathway_close{
	margin: auto 10px;
}

/*----------MODAL-----------*/
/*----------Oncologist Patients------------*/
