<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="shortcut icon" type="image/png" href="../static/media/blue_c.ico">
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cancer Alleviator</title>
  </head>

  <body>
	<h1>Log in</h1>
    <div class="wrapper">

      <form id="login-form" method="post">
        {% csrf_token %}

  		  <div class="login-container">
    			<label for="uname">Username:</label>
    			<input type="text" placeholder="Enter Username" id="uname" name="uname" required>

    			<label for="pswd">Password:</label>
    			<input type="password" placeholder="Enter Password" id="pswd" name="pswd" required>
    			<a href="#" id="pswd-forget">Need help?</a>
    			<label>Remember me<input type="checkbox" checked="checked" name="remember"></label>

          <div id="login-inform"></div>
    			<button type="submit" id="btn-login">Login</button>
  		  </div>

		  </form>

    </div>
  </body>

</html>
