{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
	  <link rel="shortcut icon" type="image/png" href="../static/media/blue_c.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="../static/js/Oncologist_patients.js"></script>
    <meta charset="utf-8">
    <title>Cancer Alleviator</title>
  </head>


  <body>
    <div class="Logged-in">Logged in as <a class="username">{{user.first_name}} {{user.last_name}}</a></div>

    <nav>
      <a href="/oncologist_patients">Patients</a>
	  <a href="/manager">Pathway Manager</a>
    <a href="/register">Create Account</a>
	  <a href='/patients' class ="change-view">Family doctor view</a>
      <a href="/logout" class="log-out">Log out</a>
    </nav>
	<div class="Oncology-content">
	  <div class="filter">

  		<div class="filter-column">
  		  <label for="accepted">Accepted</label>
  		  <input id="accepted" type="checkbox" value="false">
  		  <br>
  		  <label for="rejected">Rejected</label>
  		  <input id="rejected" type="checkbox" value="false">
  		  <br>
  		  <label for="waiting">Waiting</label>
  		  <input id="waiting" type="checkbox" value="false">
  		  <br>
  		  <label for="closed">Closed</label>
  		  <input id="closed" type="checkbox" value="false">
  		</div>

      <div class="filter-column">
        <label for="cancer_type_filter">Cancer Type:</label>
        <br>
        <select id="cancer_type_filter" name="cancer-types">
            <option value="ALL">ALL</option>
            <option value="Breast cancer">Breast cancer</option>
            <option value="Prostate cancer">Prostate cancer</option>
            <option value="Colorectal cancer">Colorectal cancer</option>
    	  </select>
        <br>
        <label for="my_filter">My Patients</label>
  		  <input id="my_filter" type="checkbox" value="false">
  		</div>

  		<div class="filter-column">
        <label for="name_filter">Name:</label>
        <br>
        <input type="text" id="name_filter" placeholder="Search for names.." title="Type in a name" value="">
        <br>

        <label for="nid_filter">National ID:</label>
        <br>
        <input type="text" id="nid_filter" placeholder="Search for id.." title="Type in an id" value="">
        <br>
  		</div>

  		<div class="filter-column">
  		  <label for="dateFrom">Date From:</label>
  		  <br>
  		  <input type="text" id="dateFrom">
  		  <br>
  		  <label for="dateTo">Date To:</label>
  		  <br>
  		  <input type="text" id="dateTo">
  		</div>

  		<div class="filter-column">
  		  <label for="age_from_filter">Age from:</label>
  		  <br>
  		  <input id="age_from_filter" name="checkbox-form" type="number" step="1" value="">
  		  <br>
  		  <label for="age_to_filter">Age to:</label>
  		  <br>
  		  <input id="age_to_filter" name="checkbox-form" type="number" step="1" value="">
  		</div>
      <button id="filter-apply" type="button" onclick="multiFilter()">Apply</button>
	  </div>

	  <div class="Oncology-patients-table" id="Oncology-patients-table">
		{% render_table table %}
	  </div>
	</div>

		<!--modal for patients-->
	<div class="Oncology-patient-modal tab">

	  <div class="name-back">
	    <button class="exit-button clickable"><-- liigu tagasi</button>
		<h1 id="name">*sisesta nimi*</h1>
		<p>kontakt</p> <!--later these will show additional information-->
		<p>lisaandmed</p>
	  </div>

	  <div class="Oncology-info">
	    <div class="column">
		  <h2 class="content-info">Kahtlustatav vähitüüp:</h2>
		  <h2 id="vahituup" class="content-info">*sisesta vähitüüp*</h2>
		  <br>
		</div>
	    <div class="column">
		  <h2 class="content-info">Vanus:</h2>
		  <h2 id="vanus" class="content-info">*sisesta vanus*</h2>
		  <br>
		</div>
	  </div>
	  <!--Symptoms added by family doctor will appear here-->
	  <div class="Oncology-symptoms">
		<h1>Valitud sümptomid</h2>
		<div class="space60px"></div>
		<div class="column">
		  <span>*esimene sümptom*</span>
		  <input type="checkbox" checked disabled>
		  <br>
		</div>
	    <div class="column">
		  <span>*teine sümptom*</span>
		  <input type="checkbox" checked disabled>
		  <br>
		</div>
	  </div>
	  <!--when patient not chosen accept or reject buttons shown-->
	  <div class="Oncology_accept_or_reject tab active">
	    <button class="accept_reject clickable" id="take_patient">Võta vastu</button>
	    <button class="accept_reject clickable" id="reject_patient">Lükka tagasi</button>
	  </div>
	  <!--when patient chosen these buttons will appear-->
	  <div class="Oncology_patient_pathway tab">
	    <button class="Oncology_pathway_close clickable">Patients pathway</button>
	    <button class="Oncology_pathway_close clickable">Close patients case</button>
		<button class="Oncology_pathway_close clickable">Appoint Doctor</button>
	  </div>

	</div>
  </body>

</html>
