<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
	<link rel="shortcut icon" type="image/png" href="../static/media/blue_c.ico">
    <link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="../static/js/Oncologist_patients.js"></script>
    <meta charset="utf-8">
    <title>Cancer Alleviator</title>
  </head>


  <body>
    <div class="Logged-in">Logged in as <a class="username">{{user.first_name}} {{user.last_name}}</a></div>

    <nav>
      <a href="/oncologist_patients">Patients</a>
      <a href="/manager">Pathway Manager</a>
      <a href="/register">Create Account</a>
      <a href='/patients' class ="change-view">Family doctor view</a>
      <a href="/logout" class="log-out">Log out</a>
    </nav>

    <h1>
      work in progress
      <br>
      <a href="https://marvelapp.com/465cdcf/screen/63838150">See the mockup of this page</a>
    </h1>

  </body>

</html>
