{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
	<link rel="shortcut icon" type="image/png" href="../static/media/blue_c.ico">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/patients.js"></script>
    <meta charset="utf-8">
    <title>Cancer Alleviator</title>
  </head>

  <body class="patients-page">

		<script>
				function myFunction(numb, input) {
					var input, filter, table, tr, td, i, txtValue;

					filter = input.value.toUpperCase();
					table = document.getElementById("patients-table");

					tr = table.getElementsByTagName("tr");
					for (i = 0; i < tr.length; i++) {
						td = tr[i].getElementsByTagName("td")[numb];
						if (td) {
							txtValue = td.textContent || td.innerText;
							if (txtValue.toUpperCase().indexOf(filter) > -1) {
								tr[i].style.display = "";
							  } else {
								tr[i].style.display = "none";
						  }
						}
					  }
					}
			</script>

    <div class="Logged-in">Logged in as <a class="username">{{user.first_name}} {{user.last_name}}</a></div>

    <nav>
		<a href="/patients">Patients</a>
		<a href="/testing">Testing</a>
		<a href='/oncologist_patients' class="change-view">Oncologist view</a>
		<a href="/logout" class="log-out">Log out</a>
	  </nav>

    <div class="wrapper">

			<input type="text" id="searchName" onkeyup="multiFilter()" placeholder="Search for names.." title="Type in a name">
			<input type="text" id="searchId" onkeyup="multiFilter()" placeholder="Search for id.." title="Type in a id">

      <select id="searchStatus" name="status-types" onchange="multiFilter()">
          <option value="ALL" selected="true" disabled="disabled" hidden="hidden">Select status</option>
          <option value="ALL">ALL</option>
          <option value="Enrolled">Enrolled</option>
          <option value="Waiting">Waiting</option>
          <option value="Cancelled">Cancelled</option>
          <option value="Closed">Closed</option>
      </select>

      <div class="patients-table">
		      {% render_table table %}
      </div>

    </div>
	<div id="modal" class="tab">
	  <div class="modal-content">
  		<button type="button" class="modal-exit">X</button>
  		<h2 id="modal-name">lololo</p>
  		<h3>ID number:</h3>
  		<h3 id="modal-ID">-</h3>
  		<h3>Age:</h3>
  		<h3 id="modal-Age">-</h3>
  		<h3>Phone:</h3>
  		<h3 id="modal-Phone">-</h3>
  		<h3>E-mail:</h3>
  		<h3 id="modal-Email">-</h3>
  		<h3>Additional information:</h3>
  		<div id="Additional-information"></div>
      <div id="modal-Testings"></div>
	  </div>
	</div>


  </body>

</html>
