<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<link rel="shortcut icon" type="image/png" href="../static/media/blue_c.ico">
  <link rel="stylesheet" href="../static/css/style.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="../static/js/Oncologist_patients.js"></script>
  <meta charset="utf-8">
  <title>Cancer Alleviator</title>
</head>

<body>
  <div class="Logged-in">Logged in as <a class="username">{{user.first_name}} {{user.last_name}}</a></div>

  <nav>
    <a href="/oncologist_patients">Patients</a>
    <a href="/manager">Pathway Manager</a>
    <a href="/register">Create Account</a>
    <a href='/patients' class ="change-view">Family doctor view</a>
    <a href="/logout" class="log-out">Log out</a>
  </nav>

	  <h1>Registration</h1>
    <div class="wrapper">

      <form id="registration-form" method="post">
        {% csrf_token %}

  		  <div class="registration-container">
          <label for="fname">First Name:</label>
    			<input type="text" placeholder="Enter First Name" id="fname" name="fname" required>

          <label for="lname">Last name:</label>
    			<input type="text" placeholder="Enter Last Name" id="lname" name="lname" required>

          <label for="email">E-mail:</label>
    			<input type="text" placeholder="Enter Email" id="email" name="email" required>

    			<label for="uname">Username:</label>
    			<input type="text" placeholder="Enter Username" id="uname" name="uname" required>

    			<label for="pswd">Password:</label>
    			<input type="password" placeholder="Enter Password" id="pswd" name="pswd" required>

          <label for="pswd_repeat">Repeat Password:</label>
    			<input type="password" placeholder="Repeat Password" id="pswd_repeat" name="pswd_repeat" required>

          <div id="registration-inform"></div>
    			<button type="submit" id="btn-registration">Register</button>
  		  </div>

		  </form>

    </div>
  </body>

</html>
