<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
	<link rel="shortcut icon" type="image/png" href="../static/media/blue_c.ico">
    <link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="../static/js/testing.js"></script>
    <meta charset="utf-8">
    <title>Cancer Alleviator</title>
  </head>


  <body>
    <div class="Logged-in">Logged in as <a class="username">{{user.first_name}} {{user.last_name}}</a></div>

    <nav>
      <a href="/patients">Patients</a>
	  <a href="/testing">Testing</a>
	  <a href='/oncologist_patients' class="change-view">Oncologist view</a>
      <a href="/logout" class="log-out">Log out</a>
    </nav>

    <div class="wrapper">
      <h2>Cancer Detection Alleviator</h2>

      <form class="testing-form" id="testing-form" method="post">
        {% csrf_token %}
        <div id="testing-form-insert">

    	  <div class="">
            <button id="Add-ID" type="button" name="">Add national ID</button>
            <input type="text" id="ID-input" name="" value="" placeholder="National ID">
            <a href="#" id="ID-question">?</a>

    		<span id="patient-chosen" class="tab">lel</span>
    		<span id="cancer-type-chosen" class="tab">lel</span>

    		<button id="Add-cancer-type" type="button" name=" ">Select cancer type</button>
            <select id="cancer-type-input" name="cancer-types">
              <option value="Breast-cancer">Breast cancer</option>
              <option value="Prostate-cancer">Prostate cancer</option>
              <option value="Colorectal-cancer">Colorectal cancer</option>
    		</select>


    	    <a href="#" id="cancer-type-question">?</a>
          </div>



		  <div id="Prostate-cancer" class="checkbox-form tab">
        <div class="column">
        </div>
  			<div class="mandatory-fields">
          <p>Peab täitma vähemalt ühe järgmistest testidest</p>
  			</div>
		  </div>


		  <div id="Colorectal-cancer" class="checkbox-form tab">
		    <div class="column">
			  <label for="kaalukaotus-ja-kõhuvalu">seletamatu oluline kaalukaotus ja kõhuvalu</label>
			  <input id="kaalukaotus-ja-kõhuvalu" name="checkbox-form" type="checkbox" value="kaalukaotus-ja-kõhuvalu">
			  <br>
			  <label for="rektaalne-veritsus">rektaalne veritsus</label>
			  <input id="rektaalne-veritsus" name="checkbox-form" type="checkbox" value="rektaalne-veritsus">
			  <br>
			  <label for="rauavaegusaneemia-või-muutus">rauavaegusaneemia või seletamatu pikemaajaline muutus soole toimimises</label>
			  <input id="rauavaegusaneemia-või-muutus" name="checkbox-form" type="checkbox" value="rauavaegusaneemia-või-muutus">
			</div>
			<div class="column">
			  <label for="rektaalne-veritsus-ja">rektaalne veritsus ja üks järgnevatest: kõhuvalu, pikemaajaline muutus soole toimimises, kaalulangus või rauavaegusaneemia</label>
			  <input id="rektaalne-veritsus-ja" name="checkbox-form" type="checkbox" value="rektaalne-veritsus-ja">
			  <br>
			  <label for="peitvere-pos">Peitvere test on positiivne</label>
			  <input id="peitvere-pos" name="checkbox-form" type="checkbox" value="peitvere-pos">
			</div>
		  </div>

		  <div id="Breast-cancer" class="checkbox-form tab">
		    <div class="column">
			  <label for="palpeeritav-tükk-rinnas">Rinnas seletamatu valulik või valutu palpeeritav tükk</label>
			  <input id="palpeeritav-tükk-rinnas" name="checkbox-form" type="checkbox" value="palpeeritav-tükk-rinnas">
			  <br>
			  <label for="Aksillaarsel-seletamatu-palpeeritav-tükk">Aksillaarsel seletamatu palpeeritav tükk</label>
			  <input id="Aksillaarsel-seletamatu-palpeeritav-tükk" name="checkbox-form" type="checkbox" value="Aksillaarsel-seletamatu-palpeeritav-tükk">
			</div>
			<div class="column">
			  <label for="Rinna-piirkonna-nahamuutused">Rinna piirkonna nahamuutused: läbikasv nahast, mitte paranev haavandumine, "apelsinikoorenahk", seletamatu punetus</label>
			  <input id="Rinna-piirkonna-nahamuutused" name="checkbox-form" type="checkbox" value="Rinna-piirkonna-nahamuutused">
			  <br>
			  <label for="nibu-sissetõmme">Eritis ühest nibust või äsja tekkinud ühe nibu sissetõmme</label>
			  <input id="nibu-sissetõmme" name="checkbox-form" type="checkbox" value="nibu-sissetõmme">
			</div>
		  </div>


          <button type="button" id="testing-test-button" disabled>TEST</button>


          <!--Hidden input for form information sending-->
          <input type="hidden" id="test-content" name="test-content" value="">
        </div>
        <!--Thats what will appear after test button was pressed-->
        <div class="testing-results" id="testing-results">
          <div class="testing-results-label">Results</div>

          <div class="testing-results-table-div">

            <table id="testing-results-table">
      		    <thead>
      			    <tr>
        			    <th>Type</th>
        			    <th>Test Estimations</th>
        			  </tr>
        			</thead>
        			<tbody class="resulttable" id="resulttable"></tbody>
      		  </table>

          </div>

          <div class="trsting-results-buttons">
            <button type="button" id="print">Print</button>
            <button type="button" id="save">Save</button>
            <button type="button" id="cancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>


	<!------- MODAL FOR INFO -------->
	<div class="modal-info tab">
	  <div class="modal-content">
	    <button type="button" class="modal-exit">x</button>
		<p class="model-text"></P>
	  </div>
	</div>
  </body>

</html>
